html{
        background-color: #F8F8F8;
}
body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

*:focus {
    outline: none;
}

.error {
    display: inline;
    position: fixed;
    margin: 5px;
    color: #FF4B4E;
    font-size: 12;
}


/*-------------------------------------
 Header Styles */

header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 3em;
    background-color: #F8F8F8;
    color: #041A0D;
}

#title {
    float: left;
    display: block;
    text-align: center;
    padding: 8px 0px;
    text-decoration: none;
    position: absolute;
    left: 15px;
    color: #041A0D;
    font-size: 25px;
}


/* Used to Switch between Scatter and
    Histogram Plot
*/


/*#plot_toggle {
    position: absolute;
    width: 152px;
    background-color: #041A0D;
    left: 0;
    right: 0;
    margin: 10px auto 10px auto;
}

#scatter_toggle {
    background-color: #FFFFFF;
    color: #041A0D;
    float: left;
    padding: 4px;
    border-radius: 5px 0 0 5px;
}

#hist_toggle {
    background-color: #041A0D;
    color: #FFFFFF;
    float: right;
    padding: 4px;
    border-radius: 0 5px 5px 0;
}
*/

#genres_toggle {
    float: right;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #041A0D;
    font-weight: 900;
    cursor: pointer;
}

#username {
    overflow: hidden;
    margin: 0;
    left: 0;
}

#user-label {
    display: inline;
    position: absolute;
    left: 200px;
    top: 15px;
}

#user-input {
    display: inline;
    position: absolute;
    left: 280px;
    top: 10px;
}

input {
    border: none;
    border-bottom: 1px solid #DDD;
    margin: 0 0 0 5px;
    font-size: 15px;
    color: #4DC2A3;
    right: 0;
    width: 174px;
    padding: 5px;
}

#github_link {
    text-decoration: none;
    float: right;
    position: absolute;
    top: 16px;
    right: 20px;
    color: #041A0D;
}

#github_link:hover {
    color: #7C6BD3;
    cursor: pointer;
}


/*-------------------------------------
 Left Side Bar */

#graph_bar {
    float: left;
    position: absolute;
    width: 100%;
    height: 0px;
    top: 3.0em;
    left: 0;
    z-index: -1;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDD;
}

#right_aside {
    float: right;
    position: absolute;
    width: 0px;
    top: 79px;
    bottom: 0;
    right: 0;
    height: auto;
    z-index: -1;
    border-left: 1px solid #DDD;
    background-color: #F8F8F8;
    overflow-y: scroll;
}


/*.select-label {
    display: inline;
    margin: 5px 5px 0px 15px;
}*/

#pl_selections {
    margin-left: 5px;
    height: 30px;
}

.select {
    display: inline;
    padding: 5px;
/*    border-bottom: 1px solid #DDD;
*/}

#playlist_select {
    width: 170px;
}

#first_select {
    margin-left: 10px;
}

select {
    background-color: #FFFFFF;
    color: #4DC2A3;
    font-size: 15px;
    border: none;
    background-image: none;
    -webkit-appearance: none;
    padding: 5px;
}

#get_data_button {
    position: absolute;
    left: 480px;
    top: 16px;
    fon
}

#go_button {
    display: inline;
    text-align: center;
    padding-top: 5px;
}

#go_button:hover,
#get_data_button:hover {
    font-weight: 900;
    cursor: pointer;
}

#genres {
    position: absolute;
    margin: 5px;
    padding-top: 5px;
}

#genres tr {
    text-align: left;
}

#genres table {
    margin: 0;
}


/*-------------------------------------
 Main/Plot*/

main {
    float: right;
    position: absolute;
    height: auto;
    right: 0px;
    left: 0px;
    top: 79px;
    bottom: 0px;
    padding: 0;
    background-color: #F8F8F8;
    z-index: -2;
}

.plot {
    float: right;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #DDD;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: autp;
    padding: 0px;
    border: 0px;
    font-size: 12px;
    pointer-events: none;
}
