html {
    height: 100%;
}
body {
    font-family: "Quattrocento Sans", "Helvetica Neue", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #FDF8EF;
    position: relative;
    height: 100%;
}

#title {
    background-color: #FDF8EF;
    color: #2A2D34;
    padding: 8px 0px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    /*border-bottom: 5px solid #DB5461;*/
    border-radius: 0px 0px 5px 5px;
}

.button {
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    display: block;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
    margin-top: 40px;
    width: 200px;
    border-bottom: 3px solid #3C4C75;
    color: #2A2D34;
    border-color: #64A6BD;
}

.button:hover {
    border-color: #F8F8F8;
}

p {
    text-align: center;
    color: #2A2D34;
    margin: auto;
    margin-top: 10px;
    max-width: 200px;
    font-size: 14px;
}

/* Footer */

#footerholder {
    font-size: 14px;
    background: none repeat scroll 0 0 transparent;
    bottom: 5px;
    position: fixed;
    text-align: center;
    width: 100%;
}

#footer {
    max-height: 100%;
    max-width: 500px;
}

#github_link {
    text-decoration: none;
    color: #000;
}

#github_link:hover {
    color: #7C6BD3;
    cursor: pointer;
}
