:root {
    --accent-color: #2A2D34;
    --bg-color: #F0F5F5;
    --red: #DE3633;
    --blue: #57D2AD;
}

body {
    font-family: "Quattrocento Sans", "Helvetica Neue", sans-serif;
    background-color: #FFF;
}

*:focus {
    outline: none;
}

main {
    padding-bottom: 10px;
    background-color: #FFF;
    margin-bottom: 0;
}

section {
    margin-left: 8%;
    border: 3px solid #F0F5F5;
    background-color: #F0F5F5;
}

#results-group {
    border: none;
    background-color: #FFF;
}

.error {
    width: 80%;
    max-width: 200px;
    margin: auto;
    color: var(--red);
    text-align: center;
}

#title {
    background-color: #FFF;
    color: var(--accent-color);
    padding: 6px 0px;
    font-size: 20px;
    margin: 0 0 25px 8px;
}

#title a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 30px;
}

#title a:hover {
    font-weight: bold;
}

#left-column {
    float: left;
    margin: auto;
    width: 350px;
}

.group-label {
    margin: 20px 0 10px 6%;
    color: var(--blue);
    font-size: 20px;
    text-align: center;
}

#result-label {
    text-align: left;
    margin-left: 10%;
}

/* input styles */
.input {
    display: inline-block;
    margin: 0 3px 0 3px;
    padding-left: 7px;
    width: 148px;
/*    border-bottom: 1px solid var(--accent-color);
*/}

input {
    border: none;
    background-color: var(--bg-color);
    font-size: 12px;
    color: var(--accent-color);
    padding: 0;
    margin: none;
}

/* select styles */

.percent50 {
    width: 50%;
}

select {
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-size: 12px;
    border: none;
    background-image: none;
    width: 100%;
}

#playlist-group .select {
    display: inline-block;
}

/* button styles */
.button {
/*    -webkit-transition-duration: 0.1s;  Safari 
    transition-duration: 0.1s;*/
    color: var(--red);
    cursor: pointer;
}

/* toggle styles */
.toggle {
    font-size: 12px;
    color: #FD8C94;
    cursor: pointer;
}

.active .toggle {
    color: var(--red);
}

.sort-row .select select {
    color: #c5c5c5;
}
.active .select select {
    color: var(--accent-color);
}

.same-line {
    display: inline-block;
}

/* playlist select styles */ 
#playlist-group, 
#filter-group, 
#sort-group, 
#results-group, 
#save-group {
    display: none;
}

#pl-title {
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

/* Apply button styles */
.apply-button {
    text-align: center;
    left: 50%;
    right: 50%;
    display: block;
    margin-top: 5px;
}

/* filter styles */

#preset-table {
    padding-left: 5px;
}

#preset-table td {
    padding: 2px;
    padding-right: 15px;
    color: var(--red);
}

#preset-table td:hover {
    cursor: pointer;
}

#preset-table td:first-child {
    font-weight: bold;
    color: #000;
}

#slider-table {
    font-size: 12px;
}

.slider {
    margin-left: 10px;
    width: 95%;
}

.range {
    font-size: 11px;
    width: 100%;
}

/* Sort styles */

#sort-table {
    table-layout: fixed;
}

#sort-table tr td {
    width: 145px;
}

#sort-table tr td:first-child {
    width: 110px;
}

#sort-table tr {
    height: 21px;
}


/* results styles */

#right-column {
    float: right;
    width: calc(100% - 350px);
    min-width: 200px;
}

#song-list-div {
    overflow-y: scroll;
    max-width: 100%;
    min-width: 200px;
    margin-top: 10px;
}

#song-list {
    background-color: var(--bg-color);
    border: 3px solid var(--bg-color);
    color: var(--accent-color);
    padding: 3px;
}

#song-list tr td {
    padding: 0px 0px 5px 0px;
}
#song-list tr td:first-child {
    color: #000;
    padding: 0px 15px 5px 0px;
}

/* Footer */
#footer {
    max-width: 100%;
    bottom: 15px;
}

p {
    color: #666;
    margin-top: 10px;
    max-width: 500px;
    font-size: 14px;
}


#github_link {
    text-decoration: none;
    float: right;
    position: absolute;
    top: 25px;
    right: 20px;
    color: #2A2D34;
}
#github_link:hover {
    color: #7C6BD3;
    cursor: pointer;
}

/** slider styles */
.ui-slider-horizontal {
    height: .4em;
}

.ui-slider .ui-slider-handle {
    width: .8em;
    height: .8em;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #fff;
}

.ui-widget-header {
    background: #c5c5c5;
    border: none;
}

.ui-widget-content, 
.ui-widget.ui-widget-content{
    border: none;
}








