body {
    font-family: 'Raleway', "Helvetica Neue", sans-serif;
    background-color: #FFF;
    margin: auto;
    max-width: 1080px;
}

*:focus {
    outline: none;
}

main {
    padding-bottom: 10px;
    background-color: #F8F8F8;
    position: relative;
    height: 100%;
    border-bottom: 5px solid #333;
    box-shadow: 0 -10px 16px 0 rgba(0,0,0, 0.1), 0 -10px 10px 0 rgba(0, 0, 0, 0.19);
}

.error {
    width: 80%;
    max-width: 200px;
    margin: auto;
    color: #FF4A50;
    text-align: center;
}


#title {
    background-color: #333;
    color: #4DC2A3;
    padding: 8px 0px;
    font-size: 20px;
    text-align: center;
    border-bottom: 5px solid #DDD;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 25px;
}

#title a {
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
}

#title a:hover {
    font-weight: bold;
}

.light_bar {
    height: 2px;
    background-color: #EDEDED;
    margin: 10px 10% 0px 10%;
}

.group-label {
    margin-left: 10%;
    color: #DDD;
    font-size: 13px;
}

table {
    margin: auto;
}

p {
    text-align: center;
    color: #666;
    margin: auto;
    margin-top: 10px;
    max-width: 500px;
    font-size: 14px;
}


/* username input styles */
#user-group {
    margin: auto;
}
#user-input-div, #save-input-div {
    margin: auto;
    width: 170px;
}

input {
    border: none;
    border-bottom: 1px solid #DDD;
    font-size: 15px;
    color: #4DC2A3;
    padding: 5px;
}

/* playlist select styles */ 
#playlist-group, 
#filter-group, 
#sort-group, 
#results-group, 
#save-group {
    display: none;
}

.select {
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    margin: auto;
    width: 170px;
}

select {
    background-color: #FFFFFF;
    color: #4DC2A3;
    font-size: 15px;
    border: none;
    background-image: none;
    -webkit-appearance: none;
    padding: 6px;
    width: 170px;
}

/* filter styles */

#preset-table {
    text-align: center;
    width: 50%;
    min-width: 200px;
}

#preset-table td {
    background-color: #4DC2A3;
    color: #F8F8F8;
    padding: 2px;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
}

#preset-table td:hover {
    background-color: #F8F8F8;
    color: #4DC2A3;
}

#preset-table td:first-child {
    background-color: #F8F8F8;
    font-weight: bold;
    color: #000;
}

#slider-table {
    width: 50%;
    min-width: 200px;
}

.slider {
    margin-left: 0px;
    width: 100%;
}

.button {
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    display: block;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
    background-color: #4DC2A3;
    color: #F8F8F8;
    font-size: 20px;
    width: 220px;
    border-radius: 25px;
    cursor: pointer;
}

.button:hover {
    background-color: #F8F8F8;
    color: #4DC2A3;
}

/* Sort styles */
#direction_select, #feature_select {
    display: inline;
}

/* results styles */

#song-list-div {
    max-height: 400px;
    overflow-y: scroll;
    margin: auto;
    max-width: 80%;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

#song-list {
    background-color: #FFF;
    border: 1px solid #DDD;
    color: #555;
    padding: 3px;
}

#song-list-div table{
    max-width: 100%;
}

#song-list tr td {
    padding: 0px 0px 5px 0px;
}
#song-list tr td:first-child {
    color: #000;
    padding: 0px 15px 5px 0px;
}

#details_table tr td:first-child {
    text-align: right;
}

/* Footer */
#footer {
    margin-top: 100px;
    max-width: 100%;
}

#github_link {
    text-decoration: none;
    color: #000;
}

#github_link:hover {
    color: #7C6BD3;
    cursor: pointer;
}


