<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Plotify</title>
    {% load staticfiles %}
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
    <script type="text/javascript">
    var s_auth_url = "{{s_auth_url}}";
    var p_auth_url = "{{p_auth_url}}";
    var sh_auth_url = "{{sh_auth_url}}";
    </script>
</head>

<body>
    <div id="title">Plotify</div>

    <div id="center"></div>

    <div class="box">
    <a id=plot class=button href=''><b>Plot your Music</b></a>
    <p>Visualize playlists by plotting their attributes.</p> 
    </div>

    <div class="box">
    <a id=sift class=button href=''><b>Filter your Music</b></a>
    <p>Refine your playlists by limiting song attributes.</p>
    </div>

    <div id="footerholder">
        <p id="footer">
            source on
            <a href="https://github.com/rafin/playlists" target="_blank" id="github_link">
                <b>github</b>,
            </a>
            created by
            <b style="color:#333">Ryan Finley</b>, unaffiliated with Spotify
         </p>
    </div>
    <!-- javascript -->
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-82312219-1', 'auto');
          ga('send', 'pageview');
    </script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
</body>

</html>
