<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    {% load staticfiles %}
    <title>Scatify</title>
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <!--<script type="text/javascript"> 
        var playlist = {{ playlist|safe }};
    </script>-->
</head>

<body>
    <!-- header -->
    <div id="header">
        <div id="title"><strong>Scatify</strong></div>
        <div id="login">User</div>
    </div>

    <!-- side bar -->
    <div id="right_bar">
        <div class="select" id="ps">
            <select id="playlist_select">
                <option>Select Playlist</option>
            </select>
        </div>
        <div class="select">
            <select id="x_select">
                <option>Select x-values</option>
                <option>Danceability</option>
                <option>Energy</option>
                <option>Loudness</option>
                <option>Mode</option>
                <option>Speechiness</option>
                <option>Acousticness</option>
                <option>Instrumentalness</option>
                <option>Valence</option>
                <option>Tempo</option>
                <option>Key</option>
                <option>Duration</option>
                <option>Popularity</option>
                <option>Popularity</option>
                <option>Release_Date</option>
            </select>
        </div>
        <div class="select">
            <select id="y_select">
                <option>Select y-values</option>
                <option>Danceability</option>
                <option>Energy</option>
                <option>Loudness</option>
                <option>Mode</option>
                <option>Speechiness</option>
                <option>Acousticness</option>
                <option>Instrumentalness</option>
                <option>Valence</option>
                <option>Tempo</option>
                <option>Key</option>
                <option>Duration</option>
                <option>Popularity</option>
                <option>Release_Date</option>
            </select>
        </div>
        <div id="go_button">Go</div>

    </div>
    <div id="main">
    </div>

    <audio id="preview_song">
    </audio>

    <!-- scatterplot script -->
    <script type="text/javascript" src="{% static 'js/graph.js' %}"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Modified Bootstrap/JS in this html file -->
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>
