<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Spotify Plotter</title>
    {% load staticfiles %}
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>

    <header>
        <div id="title"><strong>Spotify Plotter</strong></div>
        <!--<div id="plot_toggle">
            <div id="scatter_toggle">Scatter</div>
            <div id="hist_toggle">Histogram</div>
        </div> -->
        <div id="username">
            <div id="user-label">Username</div>
            <input type="text" id="user-input"></input>
        </div>
        <div id="get_data_button">Get Playlists</div>
        <a href="https://github.com/rafin/playlists" target="_blank" id="github_link">
                github
        </a>
<!--         <div id="genres_toggle">
            Genres
        </div> -->
    </header>

    <div id="graph_bar">
    </div>

    <main>
    </main>

    <aside id="right_aside">
        Hello
    </aside>

    <audio id="preview_song">
    </audio>

    <!-- javascript -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>

</html>
