<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Spotify Plotter</title>
    {% load staticfiles %}
    <link href="{% static "css/plot.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script type="text/javascript">
        var token = "{{token}}";
    </script>
</head>

<body>
    <header>
        <div id="title"><a href="">Plotify</a> Playlist Plotter</div>
        <input type="text" id="user-input" placeholder="username" value = "{{name}}"></input>
        <div id="get_data_button">Get Playlists</div>
        <a href="https://github.com/rafin/playlists" target="_blank" id="github_link">
                github
        </a>
    </header>
    <div id="graph_bar">
        <div id="pl_selections">
            <div class="select" id="first_select">
                <select id="playlist_select">
                    <option disabled selected>Select Playlist</option>
                </select>
            </div>
            :
            <div dir="rtl" class="select">
                <select id="x_select">
                    <option value="sort">Sort</option>
                    <option value="order">Order</option>
                    <option value="danceability">Danceability</option>
                    <option value="energy">Energy</option>
                    <option value="loudness">Loudness</option>
                    <option value="speechiness">Speechiness</option>
                    <option value="acousticness">Acousticness</option>
                    <option value="instrumentalness">Instrumentalness</option>
                    <option value="valence">Valence</option>
                    <option value="tempo">Tempo</option>
                    <option value="duration">Duration</option>
                    <option value="popularity">Popularity</option>
                    <option value="release_date">Release Date</option>
                    <option value="pcax">PCAx</option>
                </select>
            </div>
            vs
            <div class="select y-enable">
                <select id="y_select">
                    <option disabled selected>y-values</option>
                    <option value="order">Order</option>
                    <option value="danceability">Danceability</option>
                    <option value="energy">Energy</option>
                    <option value="loudness">Loudness</option>
                    <option value="speechiness">Speechiness</option>
                    <option value="acousticness">Acousticness</option>
                    <option value="instrumentalness">Instrumentalness</option>
                    <option value="valence">Valence</option>
                    <option value="tempo">Tempo</option>
                    <option value="duration">Duration</option>
                    <option value="popularity">Popularity</option>
                    <option value="release_date">Release Date</option>
                    <option value="pcay">PCAy</option>
                </select>
            </div>
            <div id="go_button">Go</div>
            <div id="stats_toggle">More Options</div>
        </div>
    </div>
    <main>
        <div class="loading">
            Loading
        </div>
    </main>
    <aside id="right_aside">
        <div id="stats">
            <div id="count">
                <table>
                    <tr>
                        <td>Song Count</td>
                        <td id="count_data"></td>
                    </tr>
                </table>
            </div>
            <div id="means">
                <b>Means</b>
                <table>
                </table>
            </div>
        </div>
        <div id="more_options">
            <!--<div id="scan" class="side_button"> Start Scan </div>-->
            <div id="pca" class="side_button"> PCA Plot </div>
            <table id="pca_table">
            </table>
        </div>
    </aside>
    <audio id="preview_song">
    </audio>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{% static "js/plot.js" %}"></script>
</body>

</html>
