<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Plotify - Playlist Sifter</title>
    {% load staticfiles %}
    <link href="{% static "css/sift.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script type="text/javascript">
        var token = "{{token}}";
    </script>
</head>

<body>
    <main>
        <div id="title"><a href="">Plotify</a> Playlist Sifter</div>

        <div class="light_bar"></div>
        <div class="group-label">Username</div>

        <section id="user-group">
            <div id="user-input-div">
                <input type="text" id="user-input" placeholder="username" value="{{name}}"></input>
            </div>
            <div id="get-data-button" class="button">Retrieve Playlists</div>
        </section>

        <div class="light_bar"></div>
        <div class="group-label">Playlist</div>

        <section id="playlist-group">
            <div class="select">
                <select id="playlist_select">
                    <option disabled selected>Select Playlist</option>
                </select>
            </div>
        </section>

        <div class="light_bar"></div>
        <div class="group-label">Filter</div>

        <section id="filter-group">
            <table id="preset-table">
                <tr>
                    <td>Presets</td>
                    <td id="exercise-button">Exercise</td>
                    <td id="relaxing-button">Relaxing</td>
                    <td id="acoustic-button">Acoustic</td>
            <table id="slider-table">
                <tr>
                    <td>Danceability</td><td></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="slider" id="danceability"></div></td>
                </tr>
                <tr>
                    <td>Energy</td><td></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="slider" id="energy"></div></td>
                </tr>
                <tr>
                    <td>Loudness</td><td></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="slider" id="loudness"></div></td>
                </tr>
                <tr>
                    <td>Speechiness</td><td></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="slider" id="speechiness"></div></td>
                </tr>
                <tr>
                    <td>Acousticness</td><td></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="slider" id="acousticness"></div></td>
                </tr>
                <tr>
                    <td>Instrumentalness</td><td></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="slider" id="instrumentalness"></div></td>
                </tr>
                <tr>
                    <td>Valence</td><td></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="slider" id="valence"></div></td>
                </tr>
                <tr>
                    <td>Popularity</td><td></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="slider" id="popularity"></div></td>
                </tr>
            </table>
        </section>

        <div class="light_bar"></div>
        <div class="group-label">Sort</div>

        <section id="sort-group">
            <div class="select">
                <select id="feature_select">
                    <option disabled selected>Select Sort Feature</option>
                    <option>Order</option>
                    <option>Danceability</option>
                    <option>Energy</option>
                    <option>Loudness</option>
                    <option>Speechiness</option>
                    <option>Acousticness</option>
                    <option>Instrumentalness</option>
                    <option>Valence</option>
                    <option>Duration</option>
                    <option>Popularity</option>
                </select>
            </div>
            </br>
            <div class="select">
                <select id="direction_select">
                    <option>Ascending</option>
                    <option>Descending</option>
                </select>
            </div>

            <div id="gen-button" class="button">Generate New Playlist</div>
        </section>

        <div class="light_bar"></div>
        <div class="group-label">Results</div>

        <section id="results-group">
            <div id="song-list-div">
                <table id="song-list">
                </table>
            </div>
            <table id="details_table">
                <tr>
                    <td>Song Count:</td>
                    <td id="count-display"></td>
                </tr>
                <tr>
                    <td>Length:</td>
                    <td id="length-display"></td>
                </tr>
            </table>
        </section>

        <div class="light_bar"></div>
        <div class="group-label">Save</div>

        <section id="save-group">
            <div id="save-input-div">
                <input type="text" id="save-input" placeholder="new playlist name"></input>
            </div>
            <div id="save-button" class="button">Save Playlist</div>
        </section>

        <div class="loading">Loading</div>
        <p id="footer">
            source on
            <a href="https://github.com/rafin/playlists" target="_blank" id="github_link">
            <b>github</b>,
            </a>
            created by
            <b style="color:#333">Ryan Finley</b>, unaffiliated with Spotify
         </p>
    </main>



    <script src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/sift.js" %}"></script>

</body>


</html>