<html>

<head>
	<title>Test JS</title>
	<script src="http://d3js.org/d3.v3.min.js"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript"> 
    var playlist = {{ playlist|safe }};
    </script>
    <!--<script type="text/javascript" src="{% static 'js/playlist.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/graph.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/hist.js' %}"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static "css/graph.css" %}"/>
</head>

<body>
</body>
</html>
